@model Kariyerim2.Models.isyeri

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>isyeri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ilce.ilce_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilce.ilce_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sektor.sektor_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sektor.sektor_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_yeri_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_yeri_adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.is_yeri_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
