@using Kariyerim2.Models;
@{
    ViewBag.Title = "Isyeri Ekle";
}
@model isyeri

<div>
    <a href="Ilce/Index"> Isyeri Eklem eSayfası</a>

    <form class="modal-content animate" action="/Isyeri/IsyeriGuncelle" method="post" role="form">

        <div class="form-group">
            <label>isyeri kodu</label>
            <select name="is_yeri_id">
                @foreach (isyeri item in ViewBag.isyeri)
                {
                    if (item.is_yeri_id == Model.is_yeri_id)
                    {
                        <option selected="selected" value="@item.is_yeri_id">@item.is_yeri_id</option>
                    }
                    else
                    {
                        <option value="@item.is_yeri_id"> @item.is_yeri_id</option>
                    }
                }

            </select>


        </div>


        <div class="form-group">
            <label>ilce adı</label>
            <select name="ilce_id">
                @foreach (ilce item in ViewBag.ilce)
                {
                    <option value="@item.ilce_kodu">@item.ilce_adi</option>
                }

            </select>


        </div>

        <div class="form-group">
            <label>sektör adı</label>
            <select name="sektor_kodu">
                @foreach (sektor item in ViewBag.sektor)
                {
                    <option value="@item.sektor_id">@item.sektor_adi</option>
                }

            </select>


        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">İsyeri Adı</label>

            <input type="text" class="form-control" id="exampleInputEmail1" value="@Model.is_yeri_adi" name="is_yeri_adi">

        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>





    </form>



</div>